
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Movie fs.iml
.idea/vcs.xml
.idea/workspace.xml
application/.idea/application.iml
application/.idea/FSL proj.iml
application/.idea/inspectionProfiles/Project_Default.xml
application/.idea/misc.xml
application/.idea/modules.xml
application/.idea/workspace.xml
movielibrary_backend_cmdgui/.idea/inspectionProfiles/profiles_settings.xml
movielibrary_backend_cmdgui/.idea/inspectionProfiles/Project_Default.xml
movielibrary_backend_cmdgui/.idea/misc.xml
movielibrary_backend_cmdgui/.idea/modules.xml
movielibrary_backend_cmdgui/.idea/movielibrary_backend_cmdgui.iml
movielibrary_backend_cmdgui/.idea/vcs.xml
movielibrary_backend_cmdgui/.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Movie fs.iml
.idea/vcs.xml
application/.idea/FSL proj.iml
application/.idea/misc.xml
application/.idea/modules.xml
movielibrary_backend_cmdgui/.idea/inspectionProfiles/profiles_settings.xml
movielibrary_backend_cmdgui/.idea/inspectionProfiles/Project_Default.xml
movielibrary_backend_cmdgui/.idea/misc.xml
movielibrary_backend_cmdgui/.idea/modules.xml
movielibrary_backend_cmdgui/.idea/movielibrary_backend_cmdgui.iml
movielibrary_backend_cmdgui/.idea/vcs.xml
movielibrary_backend_cmdgui/.idea/workspace.xml
