<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>AddMovie</title>
    <link rel="stylesheet" href={{url_for('static',filename="addMovie_assets/bootstrap/css/bootstrap.min.css")}}>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abhaya+Libre&amp;display=swap">
    <link rel="stylesheet" href={{url_for('static',filename="addMovie_assets/css/Form-Select---Full-Date---Month-Day-Year.css")}}>
    <link rel="stylesheet" href={{url_for('static',filename="addMovie_assets/css/Login-Form-Dark.css")}}>
    <link rel="stylesheet" href={{url_for('static',filename="addMovie_assets/css/styles.css")}}>
</head>

<body style="background: rgb(77,126,150);">
    <section class="login-dark" style="background: rgb(71, 93, 98);">
        <form method="post" style="width: 700px;height: 840px;min-width: -3px;max-width: 700px;" enctype="multipart/form-data">
            <h2 class="visually-hidden">Login Form</h2>

            <div class="illustration"><i class="icon ion-android-person-add"></i></div>
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.movieId(class="form-control", placeholder="Movie Id") }}
                {% if form.movieId.errors %}
                    {{ form.movieId(class="form-control form-control-lg is-invaid") }}
                        <div class="invalid-feedback">
                            {% for error in form.userId.errors %}
                            <span>{{ error }}</span>
                            {% endfor%}
                        </div>
                {% else %}
                {{ form.title(class="form-control", placeholder="Title") }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.description(class="form-control", placeholder="Description") }}
            </div>
            <div class="mb-3">
                {{ form.genre(class="form-control" , placeholder="Comedy|Action|Romance") }}
            </div>
            <div class="mb-3">
                {{ form.imageupload(class="form-control form-control-lg",type="file", placeholder="Upload Image")}}
            </div>
            <div class="mb-3">
                {{ form.submit(class="btn btn-primary d-block w-100") }}
            </div>
        </form>
    </section>
    <script src={{url_for('static',filename="addMovie_assets/bootstrap/js/bootstrap.min.js")}}></script>
</body>

</html>