<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>AddUser</title>
    <link rel="stylesheet" href="addUser_assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abhaya+Libre&amp;display=swap">
    <link rel="stylesheet" href="addUser_assets/css/Form-Select---Full-Date---Month-Day-Year.css">
    <link rel="stylesheet" href="addUser_assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="addUser_assets/css/styles.css">
</head>

<body style="background: rgb(77,126,150);">
    <section class="login-dark" style="background: rgb(71, 93, 98);">
        <form method="post" style="width: 700px;height: 700px;min-width: -3px;max-width: 700px;">
            <h2 class="visually-hidden">Login Form</h2><label class="form-label" style="margin-left: 236px;font-size: 30px;">Add User</label><input class="form-control" type="text" placeholder="User ID" name="User ID" style="margin-top: 70px;"><button class="btn btn-primary" data-toggle="modal" data-target="#modal1" type="button">Check</button><input class="form-control" type="text" placeholder="User Name" name="User Name" style="margin-top: 20px;"><input class="form-control" type="text" placeholder="Gender" name="Gender" style="margin-top: 20px;"><label class="form-label" style="margin-left: 15px;margin-top: 10px;color: var(--bs-gray);">DOB</label>
            <div class="mb-3"></div>
            <div class="row">
                <div class="col-sm-12" style="color: var(--bs-gray);margin-left: 4px;"><select class="form-select display-inline-block" style="background: var(--bs-gray);">
                        <option value="1" selected="">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select><select class="form-select display-inline-block" style="background: var(--bs-gray);">
                        <option value="1" selected="">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                    </select><select class="form-select display-inline-block" style="background: var(--bs-gray);">
                        <option value="2016" selected="">2016</option>
                        <option value="2017">2017</option>
                    </select></div>
            </div><input class="form-control" type="email" placeholder="Password" name="Password" style="margin-top: 20px;">
            <div></div>
            <div class="mb-3"></div>
            <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Insert</button></div>
        </form>
    </section>
    <script src="addUser_assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>