<!DOCTYPE html>
<html lang="en" style="background: rgb(71,93,98);">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
    <title>Admin</title>
    <link href={{url_for('static',filename="admin_assets/bootstrap/css/bootstrap.min.css")}} rel="stylesheet">
    <link href={{url_for('static',filename="admin_assets/css/Features-Blue.css")}} rel="stylesheet">
    <link href={{url_for('static',filename="admin_assets/css/Features-Boxed.css")}} rel="stylesheet">
    <link href={{url_for('static',filename="admin_assets/css/Footer-Dark.css")}} rel="stylesheet">
    <link href={{url_for('static',filename="admin_assets/css/styles.css")}} rel="stylesheet">
</head>

<body style="color: rgb(33, 37, 41);background: rgb(71,93,98);">
<section class="features-boxed"></section>
<section class="features-blue" style="background: rgb(71, 93, 98);">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Admin</h2>
        </div>
        <div class="row features">
            <form action="get">
            {{ form.hidden_tag() }}
            <div class="col-sm-6 col-md-4 item">
                {{ form.uadd(class="btn btn-primary", style="margin-top: 10px;margin-right: 50px;margin-left: 23px;", type="submit", value='Add User') }}
            </div>
            <div class="col-sm-6 col-md-4 item">
                {{ form.umod(class="btn btn-primary", style="margin-top: 10px;margin-right: 50px;margin-left: 23px;", type="submit", value='Modify User') }}
            </div>
            <div class="col-sm-6 col-md-4 item">
                {{ form.udel(class="btn btn-primary",  style="margin-top: 10px;margin-right: 50px;margin-left: 23px;", type="submit", value='Delete User') }}
                <h3 class="name"></h3>
            </div>
            <div class="col-sm-6 col-md-4 item">
                {{ form.madd(class="btn btn-primary", style="margin-top: 10px;margin-right: 50px;margin-left: 23px;", type="submit", value='Add Movies') }}
            </div>
            <div class="col-sm-6 col-md-4 item">
                {{ form.mmod(class="btn btn-primary", style="margin-top: 10px;margin-right: 50px;margin-left: 23px;", type="submit", value='Modify Movies') }}
            </div>
            <div class="col-sm-6 col-md-4 item">
                {{ form.mdel(class="btn btn-primary", style="margin-top: 10px;margin-right: 50px;margin-left: 23px;", type="submit", value='Delete Movies') }}
            </div>
            </form>
        </div>
    </div>
</section>
<footer class="footer-dark" style="margin-top: 95px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 item text">
                <h3>Movie Library</h3>
            </div>
        </div>
        <p class="copyright">Movie Library © 2021</p>
    </div>
</footer>
<script src={{url_for('static',filename="admin_assets/bootstrap/js/bootstrap.min.js")}}></script>
</body>

</html>