<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>DeleteMovie (Backup 1626182774668)</title>
    <link rel="stylesheet" href={{url_for('static',filename="deleteMovie_assets/bootstrap/css/bootstrap.min.css")}}>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abhaya+Libre&amp;display=swap">
    <link rel="stylesheet" href={{url_for('static',filename="deleteMovie_assets/css/Form-Select---Full-Date---Month-Day-Year.css")}}>
    <link rel="stylesheet" href={{url_for('static',filename="deleteMovie_assets/css/Login-Form-Dark.css")}}>
    <link rel="stylesheet" href={{url_for('static',filename="deleteMovie_assets/css/styles.css")}}>
</head>

<body style="background: rgb(77,126,150);">
    <section class="login-dark" style="background: rgb(71, 93, 98);">
        <form method="post" style="width: 500px;height: 464px;min-width: -3px;max-width: 500px;">
            <h2 class="visually-hidden">Login Form</h2><label class="form-label" style="margin-left: 125px;font-size: 30px;">Delete Movie</label><input class="form-control" type="text" placeholder="Genre" name="Genre" style="margin-top: 70px;">
            <div class="mb-3"></div><input class="form-control" type="email" placeholder="Movie ID" name="Movie ID" style="margin-top: 20px;">
            <div class="dropdown"><button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">Select MovieId</button>
                <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
            </div>
            <div class="mb-3"></div>
            <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Delete</button></div>
        </form>
    </section>
    <script src={{url_for('static',filename="deleteMovie_assets/bootstrap/js/bootstrap.min.js")}}></script>
</body>

</html>