<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>displayMovie</title>
    <link rel="stylesheet" href={{url_for('static',filename="displayMovie_assets/bootstrap/css/bootstrap.min.css")}}>
    <link rel="stylesheet" href="/https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href={{url_for('static',filename="displayMovie_assets/css/styles.css")}}>
</head>

<body style="background: linear-gradient(-3deg, var(--bs-white) 0%, var(--bs-white) 6%, var(--bs-blue) 100%);">
<img style="height: 300px;width: 300px;margin-top: 21px;margin-right: 300px;margin-left: 500px;background: url(&quot;displayMovie_assets/img/100.jpeg&quot;);" src="{{ url_for('static', filename= 'images/'+movie.movieId|string ~ '.jpg') }}">
    <ul>
        <li style="font-size: 30px;margin-left: 350px;"><b>MovieId:</b> {{ movie.movieId }}</li>
        <li style="font-size: 30px;margin-left: 350px;"><b>Title:</b> {{ movie.title }}</li>
        <li style="font-size: 30px;margin-left: 350px;"><b>Genre:</b> {{ movie.genre }}</li>
        <li style="font-size: 30px;margin-left: 350px;"><b>Rating:</b> {{ movie.avg_ratings }}</li>
        <li style="font-size: 30px;margin-left: 350px;width: 700px;"><b>Description:</b>&nbsp;<br>{{ movie.description }}</li>
            <br><br><br></li>
    </ul>
    <script src={{url_for('static',filename="displayMovie_assets/bootstrap/js/bootstrap.min.js")}}></script>
</body>

</html>