{% extends 'base.html' %}

{% block title %}
Modify User
{%endblock title %}

{% block content %}
<section class="login-dark" >
    <form method="post">
        <h2 class="visually-hidden">Login Form</h2>
        <h2 style="text-align:center;"><label class="form-label" >Modify User</label></h2>
        <div class="mb-3"></div>
        <div class="mb-3">
            {{ form.hidden_tag() }}
        {{ form.name(class="form-control", placeholder="Name") }}
        </div>
        <div class="input-group mb-4">
            {{ form.date(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.gender(class="form-control", placeholder="Gender") }}
        </div>
        <div class="mb-3">
            {{ form.password(class="form-control" , placeholder="Password") }}
        </div>
        <div class="mb-3">
            {{ form.submit(class="btn btn-primary d-block w-100") }}
        </div>
    </form>
</section>
{% endblock content %}