<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href={{url_for('static',filename="user_login_assets/bootstrap/css/bootstrap.min.css")}}>
    <link rel="stylesheet" href={{url_for('static',filename="user_login_assets/fonts/ionicons.min.css")}}>
    <link rel="stylesheet" href={{url_for('static',filename="user_login_assets/css/Login-Form-Dark.css")}}>
    <link rel="stylesheet" href={{url_for('static',filename="user_login_assets/css/styles.css")}}>
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for cat, message in messages %}
    <div class="alert alert-{{ cat }}" role="alert">
        {{ message }}
        <button class="m1-2 mb-1 close" type="button" data-dismiss="alert" aria-label="close" style="float:right">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <section class="login-dark">
        <form class="text-start" method="post">
            <h2 class="visually-hidden">Login Form</h2>
            <div class="illustration"><i class="icon ion-android-person"></i></div>
            {{ form.hidden_tag() }}

            </div>
            <div class="mb-3">
            {{ form.userId(class="form-control",placeholder="User ID" ) }}
            </div>
            <div class="mb-3">
            {{ form.password(class="form-control" , placeholder="Password") }}
            </div>
            <div class="mb-3">
                {{ form.submit(class="btn btn-primary d-block w-100") }}
            </div>
            <div class="mb-3">
            <a  class="btn btn-primary d-block w-100" style="background: rgb(145,162,186);" href="/registration">Sign up</a>
            </div>
        </form>

    </section>
    <script src="user_login_assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>